@import "tailwindcss";
* {
     font-family: "Inter", sans-serif;
}
body {
     background-color: #111b3c;
}
.bg-view {
     background-color: #111b3c;
}

progress::-webkit-progress-value {
     background-image: linear-gradient(to right, #2b7fff, #00b8db);
     border-radius: 20px;
}

progress::-webkit-progress-bar {
     background-color: #1d293d;
     border-radius: 20px;
     height: 10px;
}

.scroll-hidden {
     scrollbar-width: none;
}
